/* ********** */
/* * FOOTER * */
/* ********** */

.kcls-footer {
  width: 100%;
  background-color: $kcls-blue;
  margin-top: 1rem;
}

.kcls-voice-footer {
  border-top: solid 1px $kcls-light;
  border-bottom: solid 1px $kcls-green;
  padding-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  a {
    color: $kcls-light;
  }
}

.kcls-voice-designer-footer {
  font-size: 0.75rem;
  text-align: center;
  padding-top: 0.5rem;
  color: $kcls-light;
  a {
    text-decoration: none;
    font-weight: bold;
    color: $kcls-light;
  }
}
