/* ********** */
/* * FOOTER * */
/* ********** */

.kcls-footer {
  height: 100px;
  width: 100%;
  background-color: $kcls-light;
}

.kcls-voice-footer {
  border-bottom: solid 1px $kcls-green;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  a {
    color: black;
  }
}

.kcls-voice-designer-footer {
  font-size: 0.75rem;
  text-align: center;
  padding: 1rem 0;
  a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(65, 64, 64);
  }
}
