@import 'colors';

@import 'navbar';
@import 'footer';
@import 'blog';
@import 'page';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  word-break: normal !important;
}

html,
body {
  font-family: 'Inter', sans-serif;
  background-color: $kcls-light;
  min-height: calc(100vh - 250px);
}

/* ************** */
/* * FRONT PAGE * */
/* ************** */

.kcls-front-page {
  display: flex;
  flex-direction: column;
}

/* *********** */
/* * SECTION * */
/* *********** */

.kcls-section {
  margin: auto;
  padding: 1rem 0;
  max-width: 85%;
}

.kcls-section-title {
  display: inline-block;
  margin: 1rem 2rem;
  padding: 0 2rem 0.75rem 0;
  color: $kcls-blue;
  font-weight: bold;
  font-size: 1.5rem;
  border-bottom: solid 1px $kcls-green;
}

.kcls-small-cta-button a {
  color: #fff;
  background-color: $kcls-green;
  font-size: 0.75rem;
}

.kcls-page-not-found {
  min-height: calc(100vh - 150px);
  padding-top: 100px;
  text-align: center;
  background: linear-gradient(rgba(15, 15, 15, 0.3), rgba(15, 15, 15, 0.3)),
    url(../../images/card-catalog.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    color: #fff;
    font-size: 3rem;
    padding-bottom: 1rem;
  }
  p {
    color: #fff;
    font-size: 1rem;
  }
  button {
    margin: 1rem auto;
    max-width: 200px;
    background-color: $kcls-green;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5);
    a {
      font-size: 1.2rem;
      text-decoration: none;
    }
  }
}
